---
layout: main
title: Home
pagination: 
  enabled: true
---

{% for post in site.posts %}
  <article class="post">
        <header>
            <div class="title">
                <h2><a href="{{ post.url }}">
                        {{ post.title }}
                </a></h2>
            </div>
            <div class="meta">
                <time class="published" datetime="{{ post.date }}">
                        {{ post.date | date: "%b %-d, %Y"  }}
                </time>
                {% assign author = site.data.people[post.author] %}
                <a href="https://twitter.com/{{ author.twitter }}" class="author" target="_blank">
                    <span class="name"></span>
                    <img src="{{ author.avatar }}" alt="" />
                </a>
            </div>
        </header>
        <div class="meta">
            <p class="capital-p">
                {{ post.shortdesc }}
            </p>
        </div>
        <a href="{{ post.url }}" class="image featured"><img src="{{ post.image }}" alt="" /></a>
        <p>
            
        </p>
        <footer>
            <ul class="actions">
                <li><a href="{{ post.url }}" class="button large">Continue Reading</a></li>
            </ul>
            <ul class="stats">
                {% for tag in post.categories %}
                <li><a href="#">{{tag}}</a></li>
                {% endfor %}
            </ul>
        </footer>
    </article>
{% endfor %}
