<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
        <section id="intro">    
            <header>
                <h2>
                    {{site.title}}
                </h2>
                <p>
                    {{site.description}}
                </p>
            </header>
        </section>

    <!-- Mini Posts -->
        <section>
            <div class="mini-posts">

                <!-- Mini Post -->
                    <article class="mini-post hidden-md">
                        <a href="single.html" class="image"><img src="images/cicdallthethings.png" alt="" /></a>
                        
                    </article>
                    <h5>
                        Thanks <a href="http://hyperboleandahalf.blogspot.com/">
                            Hyperbole and a half
                        </a>
                    </h5>

                <!-- Mini Posts
                    <article class="mini-post">
                        <header>
                            <h3><a href="single.html">Rutrum neque accumsan</a></h3>
                            <time class="published" datetime="2015-10-19">October 19, 2015</time>
                            <a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
                        </header>
                        <a href="single.html" class="image"><img src="images/pic05.jpg" alt="" /></a>
                    </article>


                    <article class="mini-post">
                        <header>
                            <h3><a href="single.html">Odio congue mattis</a></h3>
                            <time class="published" datetime="2015-10-18">October 18, 2015</time>
                            <a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
                        </header>
                        <a href="single.html" class="image"><img src="images/pic06.jpg" alt="" /></a>
                    </article>

                    <article class="mini-post">
                        <header>
                            <h3><a href="single.html">Enim nisl veroeros</a></h3>
                            <time class="published" datetime="2015-10-17">October 17, 2015</time>
                            <a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
                        </header>
                        <a href="single.html" class="image"><img src="images/pic07.jpg" alt="" /></a>
                    </article>
                --> 

            </div>
        </section>

    <!-- 
        <section>
            <ul class="posts">
                <li>
                    <article>
                        <header>
                            <h3><a href="single.html">Lorem ipsum fermentum ut nisl vitae</a></h3>
                            <time class="published" datetime="2015-10-20">October 20, 2015</time>
                        </header>
                        <a href="single.html" class="image"><img src="images/pic08.jpg" alt="" /></a>
                    </article>
                </li>
                <li>
                    <article>
                        <header>
                            <h3><a href="single.html">Convallis maximus nisl mattis nunc id lorem</a></h3>
                            <time class="published" datetime="2015-10-15">October 15, 2015</time>
                        </header>
                        <a href="single.html" class="image"><img src="images/pic09.jpg" alt="" /></a>
                    </article>
                </li>
                <li>
                    <article>
                        <header>
                            <h3><a href="single.html">Euismod amet placerat vivamus porttitor</a></h3>
                            <time class="published" datetime="2015-10-10">October 10, 2015</time>
                        </header>
                        <a href="single.html" class="image"><img src="images/pic10.jpg" alt="" /></a>
                    </article>
                </li>
                <li>
                    <article>
                        <header>
                            <h3><a href="single.html">Magna enim accumsan tortor cursus ultricies</a></h3>
                            <time class="published" datetime="2015-10-08">October 8, 2015</time>
                        </header>
                        <a href="single.html" class="image"><img src="images/pic11.jpg" alt="" /></a>
                    </article>
                </li>
                <li>
                    <article>
                        <header>
                            <h3><a href="single.html">Congue ullam corper lorem ipsum dolor</a></h3>
                            <time class="published" datetime="2015-10-06">October 7, 2015</time>
                        </header>
                        <a href="single.html" class="image"><img src="images/pic12.jpg" alt="" /></a>
                    </article>
                </li>
            </ul>
        </section>

        -->
        <section class="blurb">
            <h2>About Me</h2>
            <p>
                {{ site.aboutme }}
            </p>
            <ul class="actions">
                <li><a href="{{ site.learnlink }}" class="button">Learn More</a></li>
            </ul>
        </section>

    <!-- Footer -->
        <section id="footer">
            <ul class="icons">
                <li><a href="https://twitter.com/{{site.twitter}}" class="fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                <li><a href="https://medium.com/@{{site.medium}}" class="fa-medium" target="_blank"><span class="label">Medium</span></a></li>
                <li><a href="https://www.linkedin.com/in/{{site.linkedin}}/" class="fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://gitlab.com/{{site.gitlab}}" class="fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
            </ul>
            {% include copyright.html %}
        </section>

</section>