.capital-p {
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5;
}

article.post {
    font-family: 'Open Sans', Georgia, sans-serif;
}

.post > p > .image.featured {
    padding-right: 10em;
    padding-left: 10em;
}

pre {
    margin: 0 10em 2em 3em;
}

pre {
    position: relative;
}

pre.highlight {
    padding: 0;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.15);
    border-radius: 3px;
    overflow-x: hidden;
    background: #2b303b;
    color: #eff1f5;
}

pre .clip-btn {
    display: inline-block;
    padding: 10px;
    padding-left: 10px;
    padding-top: 13px;
    right: 0;
    top: 0;
    cursor: pointer;
    position: absolute;
    color: #fff;
    background-color: #2b303b;
    border: 0;
    outline: 0;
}

pre .clip-btn:hover {
    color: #bbb;
}

blockquote p {
    margin: 0 !important;
}

blockquote {
    margin-left: 5em;
}


@media screen and (max-width: 736px) {
    pre {
        margin: 0 5em 1.5em 2.2em;
    }

    blockquote {
        margin-left: 3em;
    }
    
    .post > p > .image.featured {
        padding-right: 4em;
        padding-left: 4em;
    }
}

@media screen and (max-width: 480px) {
    pre {
        margin: 0 3em 1em 2em;
    }

    blockquote {
        margin-left: 1em;
    }
    
    .post > p > .image.featured {
        padding: 0;
    }
}