/* Author */

.author {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: -moz-flex-end;
    -webkit-justify-content: -webkit-flex-end;
    -ms-justify-content: -ms-flex-end;
    justify-content: flex-end;
    border-bottom: 0;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 0.6em;
    font-weight: 400;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    white-space: nowrap;
}

    .author .name {
        -moz-transition: border-bottom-color 0.2s ease;
        -webkit-transition: border-bottom-color 0.2s ease;
        -ms-transition: border-bottom-color 0.2s ease;
        transition: border-bottom-color 0.2s ease;
        border-bottom: dotted 1px rgba(160, 160, 160, 0.65);
        display: block;
        margin: 0 1.5em 0 0;
    }

    .author img {
        border-radius: 100%;
        display: block;
        width: 4em;
    }

    .author:hover .name {
        border-bottom-color: transparent;
    }

/* Blurb */

.blurb h2 {
    font-size: 0.8em;
    margin: 0 0 1.5em 0;
}

.blurb h3 {
    font-size: 0.7em;
}

.blurb p {
    font-size: 0.9em;
}