/* Box */

.box {
    border: solid 1px rgba(160, 160, 160, 0.3);
    margin-bottom: 2em;
    padding: 1.5em;
}

    .box > :last-child,
    .box > :last-child > :last-child,
    .box > :last-child > :last-child > :last-child {
        margin-bottom: 0;
    }

    .box.alt {
        border: 0;
        border-radius: 0;
        padding: 0;
    }