/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
    -webkit-transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
    -ms-transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
    background-color: transparent;
    border: 0;
    box-shadow: inset 0 0 0 1px rgba(160, 160, 160, 0.3);
    color: #3c3b3b !important;
    cursor: pointer;
    display: inline-block;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 0.6em;
    font-weight: 800;
    height: 4.8125em;
    letter-spacing: 0.25em;
    line-height: 4.8125em;
    padding: 0 2.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    button:hover,
    .button:hover {
        box-shadow: inset 0 0 0 1px #2ebaae;
        color: #2ebaae !important;
    }

        input[type="submit"]:hover:active,
        input[type="reset"]:hover:active,
        input[type="button"]:hover:active,
        button:hover:active,
        .button:hover:active {
            background-color: rgba(46, 186, 174, 0.05);
        }

    input[type="submit"]:before, input[type="submit"]:after,
    input[type="reset"]:before,
    input[type="reset"]:after,
    input[type="button"]:before,
    input[type="button"]:after,
    button:before,
    button:after,
    .button:before,
    .button:after {
        color: #aaaaaa;
        position: relative;
    }

    input[type="submit"]:before,
    input[type="reset"]:before,
    input[type="button"]:before,
    button:before,
    .button:before {
        left: -1em;
        padding: 0 0 0 0.75em;
    }

    input[type="submit"]:after,
    input[type="reset"]:after,
    input[type="button"]:after,
    button:after,
    .button:after {
        left: 1em;
        padding: 0 0.75em 0 0;
    }

    input[type="submit"].fit,
    input[type="reset"].fit,
    input[type="button"].fit,
    button.fit,
    .button.fit {
        width: 100%;
    }

    input[type="submit"].large,
    input[type="reset"].large,
    input[type="button"].large,
    button.large,
    .button.large {
        font-size: 0.7em;
        padding: 0 3em;
    }

    input[type="submit"].small,
    input[type="reset"].small,
    input[type="button"].small,
    button.small,
    .button.small {
        font-size: 0.5em;
    }

    input[type="submit"].disabled, input[type="submit"]:disabled,
    input[type="reset"].disabled,
    input[type="reset"]:disabled,
    input[type="button"].disabled,
    input[type="button"]:disabled,
    button.disabled,
    button:disabled,
    .button.disabled,
    .button:disabled {
        pointer-events: none;
        color: rgba(160, 160, 160, 0.3) !important;
    }

        input[type="submit"].disabled:before, input[type="submit"]:disabled:before,
        input[type="reset"].disabled:before,
        input[type="reset"]:disabled:before,
        input[type="button"].disabled:before,
        input[type="button"]:disabled:before,
        button.disabled:before,
        button:disabled:before,
        .button.disabled:before,
        .button:disabled:before {
            color: rgba(160, 160, 160, 0.3) !important;
        }