/* Image */

.image {
    border: 0;
    display: inline-block;
    position: relative;
}

    .image img {
        display: block;
    }

    .image.left, .image.right {
        max-width: 40%;
    }

        .image.left img, .image.right img {
            width: 100%;
        }

    .image.left {
        float: left;
        padding: 0 1.5em 1em 0;
        top: 0.25em;
    }

    .image.right {
        float: right;
        padding: 0 0 1em 1.5em;
        top: 0.25em;
    }

    .image.fit {
        display: block;
        margin: 0 0 2em 0;
        width: 100%;
    }

        .image.fit img {
            width: 100%;
        }

    .image.featured {
        display: block;
        margin: 0 0 3em 0;
        width: 100%;
    }

        .image.featured img {
            width: 100%;
        }

        @media screen and (max-width: 736px) {

            .image.featured {
                margin: 0 0 1.5em 0;
            }

        }

    .image.main {
        display: block;
        margin: 0 0 3em 0;
        width: 100%;
    }

        .image.main img {
            width: 100%;
        }

    .imageCaption {
            position: relative;
            left: 0;
            width: 100%;
            top: 0;
            margin-top: 10px;
            color: rgba(0,0,0,.68);
            outline: 0;
            text-align: center;
            z-index: 300;
    }