/* List */

ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

    ol li {
        padding-left: 0.25em;
    }

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

    ul li {
        padding-left: 0.5em;
    }

    ul.alt {
        list-style: none;
        padding-left: 0;
    }

        ul.alt li {
            border-top: solid 1px rgba(160, 160, 160, 0.3);
            padding: 0.5em 0;
        }

            ul.alt li:first-child {
                border-top: 0;
                padding-top: 0;
            }

dl {
    margin: 0 0 2em 0;
}

    dl dt {
        display: block;
        font-weight: 700;
        margin: 0 0 1em 0;
    }

    dl dd {
        margin-left: 2em;
    }
