/* Menu */

#menu {
    -moz-transform: translateX(25em);
    -webkit-transform: translateX(25em);
    -ms-transform: translateX(25em);
    transform: translateX(25em);
    -moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
    -webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
    -ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
    transition: transform 0.5s ease, visibility 0.5s;
    -webkit-overflow-scrolling: touch;
    background: #ffffff;
    border-left: solid 1px rgba(160, 160, 160, 0.3);
    box-shadow: none;
    height: 100%;
    max-width: 80%;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 25em;
    z-index: 10002;
}

    #menu > * {
        border-top: solid 1px rgba(160, 160, 160, 0.3);
        padding: 3em;
    }

        #menu > * > :last-child {
            margin-bottom: 0;
        }

    #menu > :first-child {
        border-top: 0;
    }

    #menu .links {
        list-style: none;
        padding: 0;
    }

        #menu .links > li {
            border: 0;
            border-top: dotted 1px rgba(160, 160, 160, 0.3);
            margin: 1.5em 0 0 0;
            padding: 1.5em 0 0 0;
        }

            #menu .links > li a {
                display: block;
                border-bottom: 0;
            }

                #menu .links > li a h3 {
                    -moz-transition: color 0.2s ease;
                    -webkit-transition: color 0.2s ease;
                    -ms-transition: color 0.2s ease;
                    transition: color 0.2s ease;
                    font-size: 0.7em;
                }

                #menu .links > li a p {
                    font-family: "Lato", Helvetica, sans-serif;
                    font-size: 0.6em;
                    font-weight: 400;
                    letter-spacing: 0.25em;
                    margin-bottom: 0;
                    text-decoration: none;
                    text-transform: uppercase;
                }

                #menu .links > li a:hover h3 {
                    color: $link-hover;
                }

            #menu .links > li:first-child {
                border-top: 0;
                margin-top: 0;
                padding-top: 0;
            }

    body.is-menu-visible #menu {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        visibility: visible;
    }

    @media screen and (max-width: 736px) {

        #menu > * {
            padding: 1.5em;
        }

    }