<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>
            {{ page.title }} | {{ site.title }}
        </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				{% include header.html %}

				<!-- Main -->
					<div id="main">

                        {{ content }}

                        <!--
							<ul class="actions pagination">
								<li><a href="" class="disabled button large previous">Previous Page</a></li>
								<li><a href="{{paginator.next_page_path}}" class="button large next">
                                    Next Page
                                </a></li>
                            </ul>
                        -->
                    </div>
                
                {% include left.html %}
			</div>

		<!-- Scripts -->
		{% include scripts.html %}

	</body>
</html>