<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>
            {{ page.title }} | {{ site.title }}
        </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="single">

		<!-- Wrapper -->
			<div id="wrapper">

				{% include header.html %}

				<!-- Main -->
					<div id="main">
						<article class="post">
							<header>
								<div class="title">
									<h2>
											{{ page.title }}
									</h2>
								</div>
								<div class="meta">
									<time class="published" datetime="{{ page.date }}">
											{{ page.date | date: "%b %-d, %Y"  }}
									</time>
									{% assign author = site.data.people[page.author] %}
									<a href="https://twitter.com/{{ author.twitter }}" class="author" target="_blank">
										<span class="name"></span>
										<img src="{{ author.avatar }}" alt="" />
									</a>
								</div>
							</header>

							<h1>
								{{ page.shortdesc }}
							</h1>

							{{ content }}
							
							<footer>
								<ul class="stats">
									{% if page.photocredits %}
										<li>
											{{ page.photocredits }}
										</li>
									{% endif %}
									{% if page.original %}
										<li>
											{{ page.original }}
										</li>
									{% endif %}	
								</ul>
							</footer>
						</article>

                        <!--
							<ul class="actions pagination">
								<li><a href="" class="disabled button large previous">Previous Page</a></li>
								<li><a href="{{paginator.next_page_path}}" class="button large next">
                                    Next Page
                                </a></li>
                            </ul>
                        -->
					</div>
				<section id="footer">
					<ul class="icons">
						<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
						<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					{% include copyright.html %}
				</section>	
			</div>

		<!-- Scripts -->
		{% include scripts.html %}

	</body>
</html>